In [ ]:
'''
1. Pull total number of orders that were completed on 18th March 2023
2. Pull total number of orders that were completed on 18th March 2023 with the first name ‘John’ and last name ‘Doe’
3. Pull total number of customers that purchased in January 2023 and the average amount spend per customer
4. Pull the departments that generated less than $600 in 2022
5. What is the most and least revenue we have generated by an order
6. What were the orders that were purchased in our most lucrative order
'''

#### 1.Total number of orders on 18th March 2023

SELECT COUNT(DISTINCT Order_id) AS total_orders
FROM SALES
WHERE Date = '2023-03-18';

#### 2.Total number of orders on 18th March 2023 with customer named ‘John Doe’

SELECT COUNT(DISTINCT s.Order_id) AS total_orders
FROM SALES s
JOIN CUSTOMERS c ON s.Customer_id = c.Customer_id
WHERE s.Date = '2023-03-18' AND c.First_name = 'John' AND c.Last_name = 'Doe';

#### 3.Total number of customers that purchased in January 2023 and the average amount spent per customer

SELECT COUNT(DISTINCT Customer_id) AS total_customers,
       AVG(Revenue) AS avg_amount_spent
FROM SALES
WHERE Date BETWEEN '2023-01-01' AND '2023-01-31';

#### 4.Departments that generated less than $600 in 2022

SELECT i.department, SUM(s.Revenue) AS total_revenue
FROM SALES s
JOIN ITEMS i ON s.Item_id = i.Item_id
WHERE s.Date BETWEEN '2022-01-01' AND '2022-12-31'
GROUP BY i.department
HAVING total_revenue < 600;

#### 5.Most and least revenue generated by an order

SELECT MAX(Revenue) AS max_revenue, MIN(Revenue) AS min_revenue
FROM SALES;

#### 6.Orders that were purchased in the most lucrative order

SELECT Order_id, Revenue
FROM SALES
WHERE Revenue = (SELECT MAX(Revenue) FROM SALES);